PORT=5000
# mongo database link
#create one its free
DB=mongodb+srv://nickname:password@some.text.with.dots.mongodb.net/?retryWrites=true&w=majority


# secret words, doent matter what wiil be written
JWT_ACCESS_SECRET=sometext
JWT_REFRESH_SECRET=anothersometext

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587

#your gmail for send registration mails 
SMTP_USER=roomsmore@gmail.com

#your password, in options gmail need to do some congigurations
#description will be soon key wiil be like 
# this : dcba text four abcd
SMTP_PASSWORD=dcba text four abcd

API_URL=http://localhost:5000
CLIENT_URL=http://localhost:5173

#MONGODB USER DATA 
#now its doesnt matter, was added in DB variable
USER=nickname
PASSWORD=password